{%extends '../../common/layout.html'%}

{%block center_column%}
<legend>
    Project {{project.name}}
</legend>
<div>
    {%if !project.build%}

    {%endif%}
    {%if project.build.status == "complete" and project.build.state == "0"%}
    <div ng-show="complete && complete.StatusCode == 0" class="alert alert-success">
        Last build successful
    </div>
    {%endif%}
    {%if project.build.status == "complete" and project.build.state == "0"%}
    <div class="alert alert-danger">
        Last build failed
    </div>
    {%endif%}
    {%if project.build.status == "running"%}
    <div ng-hide="complete" class="alert alert-info">
        <div class="spinner"></div>
        Building...
    </div>
    {%endif%}
    <dl>
        <dt>Repository:</dt>
        <dd><code>{{project.repo_url}}</code></dd>
        <dt>Commands:</dt>
        <dd>
            <pre>{{project.command}}</pre>
        </dd>
    </dl>
    <form method="post" action="/dashboard/account/{{account.username}}/project/{{project.id}}/build">
        <div class="btn-group-nowrap pull-right">

            <button class="btn btn-primary">
                <span class="glyphicon glyphicon-flash"></span>
                Build
            </button>
            <a href="/dashboard/account/{{account.username}}/project/{{project.id}}/edit" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span>
                Edit
            </a>
            <a href="/dashboard/account/{{account.username}}/project/{{project.id}}/delete" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
                Delete
            </a>
        </div>
    </form>
</div>
{%endblock%}