{%extends '../../common/layout.html'%}

{%block center_column%}
<legend>
    {%if account.id%}
    Edit project
    <small>{{project.name}}</small>
    {%else%}
    Create project
    {%endif%}
</legend>
<div class="row">
    <div class="col-lg-12">
        <a href="https://github.com/login/oauth/authorize?scope=user:email,write:repo_hook,repo&client_id=bd50fa6daf6a89fbf00e" class="btn btn-info">Add github repository</a>
         <form method="post">
            <div class="form-group {%if errors.container%}has-error has-feedback{%endif%}">
                <label for="container">Container</label>
                <select class="form-control" name="project[container][id]" id="container">
                    {%for container in containers%}
                    <option
                    {%if project.container and container.id == project.container.id|default(0)%}selected{%endif%}
                    value="{{container.id}}">{{container.displayName}}</option>
                    {%endfor%}
                </select>
                {%if errors.container%}<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>{%endif%}
                <span class="help-block">{{errors.container|default('')}}</span>
            </div>
            <div class="form-group {%if errors.repo_url%}has-error has-feedback{%endif%}">
                <label for="repo_url">Reposity URI</label>
                <input type="text" class="form-control" rows="1" name="project[repo_url]" id="repo_url"
                       value="{{project.repo_url|default('')}}"/>
                {%if errors.repo_url%}<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>{%endif%}
                <span class="help-block">{{errors.repo_url|default('')}}</span>
            </div>
            <div class="form-group {%if errors.name%}has-error has-feedback{%endif%}">
                <label for="name">Reposity Name</label>
                <input type="text" class="form-control" rows="1" name="project[name]" id="name"
                       value="{{project.name|default('')}}"/>
                {%if errors.name%}<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>{%endif%}
                <span class="help-block">{{errors.name|default('')}}</span>
            </div>
            <div class="form-group {%if errors.command%}has-error has-feedback{%endif%}">
                <label for="command">Commands</label>
                <textarea rows="5" type="text" class="form-control" rows="1" name="project[command]" id="command">{{project.command|default('npm install && npm test')}}</textarea>
                {%if errors.command%}<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>{%endif%}
                <span class="help-block">{{errors.command|default('')}}</span>
            </div>
            <div class="form-group {%if errors.username%}has-error{%endif%}">
                <button type="submit" class="btn btn-primary pull-right">Save</button>
            </div>
        </form>
    </div>
</div>
{%endblock%}