{%extends '../common/layout.html'%}
{% block secondary-header %}
<div class="secondary-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row-fluid clearfix">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li class=""><a href="/projects">Projects</a></li>
                            <li class="active">Configure {{project.name}}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
{% endblock %}
{%block center_column%}
<div class="row-fluid content">
    <div class="col-lg-12">
        <form method="post">
            <div class="form-group {%if errors.container%}has-error has-feedback{%endif%}">
                <label>Primary container</label>
                <div>
                    <div class="btn-group" data-toggle="buttons">
                        {%for container in containers%}
                            <label class="btn btn-primary {%if project.container and container.id == project.container.id|default(0)%}active{%endif%}">
                            <input type="radio" name="project[container][id]"
                            {%if project.container and container.id == project.container.id|default(0)%}checked{%endif%}
                            value="{{container.id}}"/>{{container.displayName}}
                            </label>
                        {%endfor%}
                    </div>
                </div>
                {%if errors.container%}<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>{%endif%}
                <span class="help-block">{{errors.container|default('')}}</span>
            </div>
            <div class="form-group {%if errors.secondary_container%}has-error has-feedback{%endif%}">
                <label>Secondary container</label>
                <div>
                    {%for s_container in secondary_containers%}
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info {%if s_container.id|in(project.secondaryContainer|map('id')) %}active{%endif%}">
                            <input ng-chacked="select()"
                            {%if s_container.id|in(project.secondaryContainer|map('id')) %}checked="checked"{%endif%}
                            type="checkbox" name="project[secondary_container][{{s_container.id}}][id]" value="{{s_container.id}}" /> <span class="fa fa-database"></span>  {{s_container.displayName}}
                        </label>
                    </div>
                    {%endfor%}
                </div>
                {%if errors.secondary_container%}<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>{%endif%}
                <span class="help-block">{{errors.secondary_container|default('')}}</span>
            </div>
            <div class="form-group {%if errors.container%}has-error has-feedback{%endif%}">
                <label>Default branch</label>
                <div>
                    {%for branch in repo.branches%}
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-success {%if branch.name == project.get('default_branch') %}active{%endif%}">
                            <input
                            {%if branch.name == project.get('default_branch') %}checked="checked"{%endif%}
                            type="radio" name="project[default_branch]" value="{{branch.name}}" /> <span class="fa fa-code-fork"></span> {{branch.name}}
                        </label>
                    </div>
                    {%endfor%}
                </div>
                {%if errors.branch%}<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>{%endif%}
                <span class="help-block">{{errors.container|default('')}}</span>
            </div>
            <div class="form-group {%if errors.command%}has-error has-feedback{%endif%}">
                <label for="command">Commands</label>
                <textarea rows="5" type="text" class="form-control output" rows="1" name="project[command]" id="command">{{project.command|default('npm install && npm test')}}</textarea>
                {%if errors.command%}<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>{%endif%}
                <span class="help-block">{{errors.command|default('')}}</span>
            </div>
            <div class="form-group {%if errors.secondary_container%}has-error has-feedback{%endif%}">
                <label>Connection details</label>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Container</th>
                        <th>Host</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%for s_container in secondary_containers%}
                    <tr>
                        <td>{{s_container.displayName}}</td>
                        <td><code>{{s_container.defaultAlias}}</code></td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
                {%if errors.secondary_container%}<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>{%endif%}
                <span class="help-block">{{errors.secondary_container|default('')}}</span>
            </div>
            <div class="form-group {%if errors.artifact_path%}has-error has-feedback{%endif%}">
                <label for="artifact_path">Artifact path (relative path)</label>
                <input id="artifact_path" name="project[artifact_path]" type="text" value="{{project.artifact_path|default('')}}" class="form-control"/>
                {%if errors.artifact_path%}<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>{%endif%}
                <span class="help-block">{{errors.artifact_path|default('')}}</span>
            </div>
            <div class="form-group {%if errors.username%}has-error{%endif%}">
                <button type="submit" class="btn btn-primary btn-lg">Save</button>
            </div>
        </form>
    </div>
</div>
{%endblock%}