{%extends '../common/layout.html'%}
{% block secondary-header %}
<div class="secondary-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row-fluid clearfix">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li class=""><a href="/projects">Projects</a></li>
                            <li class="active">Delete {{project.name}}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
{% endblock %}
{%block center_column%}
<div class="row-fluid content">
    <div class="col-lg-12">
        <form method="POST">
            <fieldset>
                <p>
                    Project "{{project.name}}" will be deleted. Are you sure?
                </p>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        Delete
                    </button>
                    <a href="/projects" class="btn">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{%endblock%}