{%extends '../common/layout.html'%}

{%block center_column%}
<div class="row">
    <div class="col-lg-12">
        <h3>
            Select repository
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped">
                    {% for repo in repos%}
                        <tr>
                            <td width="100%">
                                <h4>{{repo.owner.login}} / <strong>{{repo.name}}</strong></h4>
                                <p class="text-muted"><small>{{repo.clone_url}}</small></p>
                            </td>
                            <td class="middle">
                                <a href="/projects/create/{{repo.name}}" class="btn btn-default">Select</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}