{%extends '../../common/layout.html'%}
{% block secondary-header %}
<div class="secondary-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row-fluid clearfix">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li class=""><a href="/dashboard">Dashboard</a></li>
                            <li class=""><a href="/dashboard/account">Accounts</a></li>
                            <li class="active">{%if account.id%}Edit account {{account.username}}
                                {%else%}New account{%endif%}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
{% endblock %}
{%block center_column%}

<div class="row">
    <div class="col-lg-12">
        <form method="post">
            <div class="form-group {%if errors.username%}has-error has-feedback{%endif%}">
                <label for="username">Username</label>
                <input type="text" class="form-control" rows="1" name="account[username]" id="username"
                       value="{{account.username|default('')}}"/>
                {%if errors.username%}<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>{%endif%}
                <span class="help-block">{{errors.username|default('')}}</span>
            </div>
            {%if !account.id%}
                <div class="form-group {%if errors.email%}has-error has-feedback{%endif%}">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" rows="1" name="account[email]" id="email"
                           value="{{account.email|default('')}}"/>
                    {%if errors.email%}<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>{%endif%}
                    <span class="help-block">{{errors.email|default('')}}</span>
                </div>
            {%endif%}
            <div class="form-group {%if errors.password%}has-error has-feedback{%endif%}">
                <label for="password">Password</label>
                <input type="password" class="form-control" rows="1" name="account[password]" id="password"/>
                {%if errors.password%}<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>{%endif%}
                <span class="help-block">{{errors.password|default('')}}</span>
            </div>
            <div class="form-group {%if errors.username%}has-error{%endif%}">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
{%endblock%}