{%extends '../common/layout.html'%}

{%block center_column%}
<form method="POST">
    <fieldset>
        <legend>
            Delete
            <small>{{container.name}}</small>
        </legend>
        <p>
            Container "{{container.name}}" will be deleted. Are you sure?
        </p>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Delete
            </button>
            <a href="/container" class="btn">Cancel</a>
        </div>
    </fieldset>
</form>
{%endblock%}