{%extends '../common/layout.html'%}


{% block navBar %}
<li><a href="/login">Sign In</a></li>
<li><a href="/signup">Sign Up</a></li>
<li><a href="/about">About</a></li>
{% endblock %}

{%block center_column%}
<div class="jumbotron">
    <div style="text-align: center">
        <h2>Welcome to Continuous Integration Platform</h2>

        <p class="lead">Set up projects in easy configurable environments to automatically build and test as you make
            changes to your code!</p>
    </div>
</div>
{%endblock%}
