body {
  background-color: @base-color;
  font-family: 'Roboto','Helvetica Neue', 'Helvetica', Arial, sans-serif !important;
  font-weight: 400;
}

a{
  color: inherit;
  text-decoration: none;  
}
a:hover{
  color: lighten(#F02311, 10%);
  text-decoration: none;
}

.content {
  margin-top: 20px;
}

.editor {
  .make-row();
}

td {
  form {
    margin: 0px;
  }
}

.table tbody > tr > td.vert-align {
  vertical-align: bottom;
}

form {
  margin-top: 10px;
  .ctrl {
    margin: 10px;
    textarea {
      .form-control;
      height: 200px;
      font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
      font-size: 13px;
    }
    input {
      .form-control;
    }
    select {
      .form-control;
    }
  }
  .action {
    .form-group;
    .pull-right;
    margin-top: 1em;
    button {
      .btn;
      .btn-lg;
    }
    button.primary {
      .btn-primary;
    }
    button.cancel {
      .btn-default;
    }
  }
}

.output {
  .form-control;
  .border-radius(0px);
  border: 0px;
  margin-top: 10px;
  height: auto;
  color: #FFF;
  min-height: 200px;
  background-color: #000;
  font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
  font-size: 13px;
}

.project-nav {
  ul {
    .nav;
    .nav-tabs;
  }
}
.btn {
    .border-radius(0px);
    font-weight: 300;
    background-color: transparent;
    color: darken(@secondary-accent-invert,30%);
    border: 2px solid darken(@secondary-accent-invert,30%);
}
.spinner {
  width: 16px;
  height: 16px;
  background-color: #EBE200;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
  float: left;
  margin: 2px 8px 0px 0px;
  border-radius: 50%;
}

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px)
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg)
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.btn-group-nowrap, .btn-group-nowrap .btn {
  white-space: nowrap !important;
  float: none;
}

dl dd {
  margin-bottom: 15px;
}




/*
* LOGIN
*
*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  .or{
    text-align: center;
  }
}


.divider{
    color:#ccc;
    width:70%;
    margin:20px auto;
    overflow:hidden;
    text-align:center;   
    line-height:1.2em;
}

.divider:before, .divider:after{
    content:"";
    vertical-align:top;
    display:inline-block;
    width:50%;
    height:0.65em;
    border-bottom:1px solid #ccc;
    margin:0 2% 0 -55%;
}
.divider:after{
    margin:0 -55% 0 2%;
}


/*
* tables
* 
*/

.zebra-rows{
  .t-row{
    border-bottom: 1px solid darken(@table-bg-accent, 10%);
    padding-bottom: 1em;
  }
  .t-row:hover, .t-row:nth-child(odd){
    background-color: lighten(@base-color, 10%);
  }
  .t-row:nth-child(odd){
    background-color: @table-bg-accent;
  }
  .main-col{
    padding: 1em 2em;
    .repo-name{
      text-transform: uppercase;
    }
    p.text-muted{
      overflow: hidden;
    }
  }
  .action-col{
    padding: 1em 2em;
    .btn{
      color: lighten(@secondary-accent, 50%);
      border-color: lighten(@secondary-accent,60%);
      margin-bottom: 0.5em;
    }
    .btn:hover{
      color : #FFF;
      border-color: darken(@table-bg-accent,10%);
    }
  }
}

.build-list{
  .build-id{
    min-height: 100px;
    a{
      vertical-align: middle;
      text-align: center;
      width: 50px;
      display: block;
      height: 50px;
      border-radius: 100%;
      span{
        font-size: 100%;
        color: #FFF;
        font-weight: 300;
        line-height: 47px;
      }
    }
    .build-success{
      background-color: @btn-success-bg;
    }
    .build-failed{
      background-color: @btn-danger-bg;
    }
    .build-progress{
      background-color: @btn-warning-bg;
    }
  }
  .build-state{
    min-height: 100px;
  }
  .build-time, .build-state{
    color: darken(@table-bg-accent,30%);
    font-size: 12px;
    div{
      color: darken(@table-bg-accent,40%);
    }
  }
}

/*
* Secondary header
* 
*/

.secondary-header {
  background-color: @secondary-accent;
  padding-top: 30px;
  padding-bottom: 30px;
  h2{
    line-height: 1em;
    padding: 10px 0px;
    margin: 0px;
    font-weight: 300;
    color:  @secondary-accent-invert;
    letter-spacing: -1px;
  }
  .btn {
    .border-radius(0px);
    font-weight: 300;
    background-color: transparent;
    color: @secondary-accent-invert;
    border: 2px solid @secondary-accent-invert;
  }
  @media (max-width: @screen-xs-max) {
    .action-button{
      margin-top: 20px;
    }
  }
  .breadcrumb{
    background-color: transparent;
    border: 0px;
    .border-radius(0px);
    font-size: 20px;
    margin-bottom: 0px;
    padding: 0px;
    text-transform: uppercase;
    @media (max-width: @screen-xs-max) {
        li{
          display: block;
        }
        li:before{
          content: '';
          padding: 0px;
        }
    }
    a{
      color: @secondary-accent-invert;
    }
    .badge{
      line-height: inherit;
      font-size: inherit;
      font-weight: 300;
      .border-radius(100%);
    }
  }
}


.build-status-header {
  padding-top: 30px;
  padding-bottom: 30px;
  .meta{
    line-height: 1em;
    padding: 10px 0px;
    margin: 0px;
    font-weight: 300;
    color:  @secondary-accent-invert;
  }
}
.build-status-header.build-success{
    background-color: @btn-success-bg;
}
.build-status-header.build-progress{
    background-color: @btn-warning-bg;
}
.build-status-header.build-fail{
    background-color: @btn-danger-bg;
}