{%extends '../common/layout.html'%}
{% block secondary-header %}
<div class="secondary-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row-fluid clearfix">
                    <div class="col-lg-12">
                        <h2>
                            Sign up
                        </h2>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
{% endblock %}
{%block center_column%}
<div class="container">
    <div class="row">
        <div class="form-signin">
            <form method="post" role="form" action="/signup">
                <div class="form-group {%if errors.username%}has-error has-feedback{%endif%}">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" rows="1" name="account[username]" placeholder="Username" id="username"
                           value="{{account.username|default('')}}"/>
                    {%if errors.username%}<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>{%endif%}
                    <span class="help-block">{{errors.username|default('')}}</span>
                </div>
                {%if !account.id%}
                <div class="form-group {%if errors.email%}has-error has-feedback{%endif%}">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" rows="1" name="account[email]" placeholder="Email" id="email"
                           value="{{account.email|default('')}}"/>
                    {%if errors.email%}<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>{%endif%}
                    <span class="help-block">{{errors.email|default('')}}</span>
                </div>
                {%endif%}
                <div class="form-group {%if errors.password%}has-error has-feedback{%endif%}">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" rows="1" name="account[password]" placeholder="Password" id="password"/>
                    {%if errors.password%}<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>{%endif%}
                    <span class="help-block">{{errors.password|default('')}}</span>
                </div>
                <div class="form-group {%if errors.repassword%}has-error has-feedback{%endif%}">
                    <label for="repassword">Retype Password</label>
                    <input type="password" class="form-control" rows="1" name="account[repassword]" placeholder="Retype Password" id="repassword"/>
                    {%if errors.password%}<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>{%endif%}
                    <span class="help-block">{{errors.repassword|default('')}}</span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Sign up</button>
                    <div class="or divider">or</div>
                    <a href="/auth/github" type="submit" class="btn btn-default btn-block">Sign in with <strong>GitHub</strong></a>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}