<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="CI" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="CI" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="CI" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="CI" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Continuous Integration Platform">
    <meta name="author" content="Your name">
    <title>Continuous Integration Platform</title>
    <link href="/app/css/style.css" rel="stylesheet">
</head>
<body>
<header>
    <nav role="navigation">
        <div>
            <a class="navbar-brand" href="#">CI</a>
        </div>
    </nav>
</header>
<div class="content">
    <div class="container">
        <div ng-view></div>
    </div>
</div>
<footer>
    {% block contentFooter %}{% endblock %}
</footer>
{% block js %}{% endblock %}
<!-- TODO: when env configuration will be ready add condition block to load only one mified js -->
<script src="/socket.io/socket.io.js"></script>
<script src="/app/angular/angular.min.js"></script>
<script src="/app/angular-route/angular-route.min.js"></script>
<script src="/app/angular-socket-io/socket.min.js"></script>
<script src="/app/js/app.js"></script>
<script src="/app/js/services.js"></script>
<script src="/app/js/controllers.js"></script>
<script src="/app/js/filters.js"></script>
<script src="/app/js/directives.js"></script>
</body>
</html>