<!DOCTYPE html>
<html ng-app="CI" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Continuous Integration Platform">
    <title>Continuous Integration Platform</title>
    <link href="/app/css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:200,400,300,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<header>
    <nav role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="fa fa-circle logo"></i> CIAAS</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav menu navbar-nav pull-right">
                    {% if req().user and req().user.admin %}
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/dashboard/project">Projects</a></li>
                        <li><a href="/dashboard/account">Accounts</a></li>
                        <li><a href="/dashboard/container">Containers</a></li>
                    {% else %}
                        {% if req().user%}
                            <li><a href="/projects">Projects</a></li>
                        {% endif %}
                    {% endif %}
                    <li><a href="/docs">Docs</a></li>
                    {% if not req().user %}
                        <li><a href="/login">Sign in</a></li>
                        <li><a href="/signup">Sign up</a></li>
                    {%else%}
                        <li><a href="/logout">Sign out</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
{% block secondary-header %}
{% endblock %}
{% block notifications %}
    {%if getNotifications()%}
        {%if getNotifications().status == 'success'%}
        <div class="notification notification-success">
            <div class="container-fluid">
                <div class="row">
                    <div class="message col-md-12">
                        {{getNotifications().message}}
                        <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
        {%if getNotifications().status == 'warning'%}
        <div class="notification notification-warning">
            <div class="container-fluid">
                <div class="row">
                    <div class="message col-md-12">
                        {{getNotifications().message}}
                        <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
        {%if getNotifications().status == 'error'%}
        <div class="notification notification-error">
            <div class="container-fluid">
                <div class="row">
                    <div class="message col-md-12">
                        {{getNotifications().message}}
                        <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
    {%endif%}
{% endblock %}
{% block home_landing %}{% endblock %}
<div class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% block center_column %}{% endblock %}
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted">{% block contentFooter %}Continuouse Integration Server as Service{% endblock %}</p>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function(){
        $('.notification').slideDown('fast');
        $('.close').click(function(){$('.notification').slideUp('fast')});
    })
</script>
{% block js %}
{% endblock %}
</body>
</html>